<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/ivanilson">
        <label for="Name">Name</label>
        <input name = "name" class="Name" type="text"> <br>
        <label for="Name">password</label>
        <input name ="password" type="password"><br> 
        <label for="Name">Email</label>
        <input name ="email" type="email"> <br><br>

        <input type="submit" value="Send">
    </form>
</body>
</html>